<!DOCTYPE html>
<html>
<head>
	<title>Crawler</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<h1><%= title %></h1>
	<form action = "/" method="get">
		<input type="text" name="q" />
		<input type="submit" value="Search" />
	</form>
	<h3><%= desc %></h3>
</body>
</html>