<!DOCTYPE html>
<html>
<head>
	<title>Crawler</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<h1><%= title %></h1>
	<form action = "/results" method="get">
		<select name="site">
			<option value="default">선택</option>
			<option value="naver" >전문 정보</option>
			<option value="naver_terms" >지식 백과</option>
		</select>
		<br>
		<input type="text" name="q" />
		<input type="submit" value="Search" />
	</form>
	<h3><%= desc %></h3>
</body>
</html>